@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import "../sass/abstract/variables";
@import "../sass/abstract/animations";
@import "../sass/abstract/mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  background: $background-color;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background: radial-gradient(
    circle at 3% 23%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
}

.gradient-text {
  background: $gradient-text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  padding: 4rem 6rem;
}
