@import "../../sass/abstract/variables.scss";

.metal__blog {
  display: flex;
  flex-direction: column;
}

.metal__blog-heading {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;
}

.metal__blog-heading h1 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: -0.04em;
}

.metal__blog-container {
  display: flex;
  flex-direction: row;
}

.metal__blog-container_groupA {
  flex: 0.75;
  margin-right: 2rem;
}

.metal__blog-container_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 990px) {
  .metal__blog-container {
    flex-direction: column-reverse;
  }

  .metal__blog-container_groupA {
    margin: 2rem 0;
  }

  .metal__blog-container_groupA .metal__blog-container_article {
    width: 48%;
  }

  .metal__blog-container_groupA .metal__blog-container_article-image {
    height: 250px;
  }
}

@media screen and (max-width: 700px) {
  .metal__blog-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }

  .metal__blog-container_groupA .metal__blog-container_article {
    width: 100%;
  }

  .metal__blog-heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
}

@media screen and (max-width: 550px) {
  .metal__blog-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
